<h1>Здесь будет страница "О сервисе"  </h1>
<a href="/"> На главную </a>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<!--<a href="#" class="btn btn-success">Работает</a>-->

<!--<div class="alert alert-primary" role="alert">-->
<!--  Это оповещение-->
<!--</div>-->

<!--<button type="button" class="btn btn-primary">Нажми меня</button>-->

<!--<div class="card">-->
<!--  <div class="card-body">-->
<!--    This is some text within a card body.-->
<!--  </div>-->
<!--</div>-->

<!--<div class="row">-->
<!--   <div class="col-3">Колонка шириной в 4/12</div>-->
<!--   <div class="col-3">Колонка шириной в 8/12</div>-->
<!--    <div class="col-3">Колонка шириной в 8/12</div>-->
<!--    <div class="col-3">Колонка шириной в 8/12</div>-->
<!--</div>-->

<!--<div class="container">-->
<!--  Все содержание будет тут-->
<!--</div>-->

<p class="btn btn-outline-secondary p-4">...</p>
<p class="btn btn-outline-secondary px-4">...</p>
<p class="btn btn-outline-secondary pt-4">...</p>
<p class="btn btn-outline-secondary pr-4">...</p>
<p class="btn btn-outline-secondary pb-4">...</p>
<p class="btn btn-outline-secondary pl-4">...</p>